

body {
    background-color: rgb(55, 55, 55);
    color: white;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.t {
    margin: 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 1 / span 11;
    padding: 10px 5px 10px ;
    color: black;
}

button {
    display: inline-block;
    grid-column: 12 / span 1;
}

.d {
    grid-column: 1 / span 12;
    padding: 5px;
    background-color:rgb(55, 55, 55);
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 48px 40px;
    background-color: darkgray;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .desc {
    margin: 0;
  }

